<section class="section">
    <div class="container">
        <p class="title">Termékek</p>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <a class="button is-rounded" [routerLink]="['new']">
                        <span class="icon">
                        <i class="fas fa-plus"></i>
                        </span>
                        <span>Új termék</span>
                    </a>
                </div>
                <!-- <div class="level-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" placeholder="Termék keresése">
                        </div>
                        <div class="control">
                            <a class="button">
                                Keresés
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <ng-container *ngIf="products; else loading">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Termék neve</th>
                        <th>Kiszerelés</th>
                        <!-- <th>Leírás</th> -->
                        <!-- <th>Forgalmi kategória</th> -->
                        <th>Nettó ára</th>
                        <th>Bruttó ár</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products.display$ | async">
                        <td>{{product.sku}}</td>
                        <td><a [routerLink]="['.', product.sku]">{{product.name}}</a></td>
                        <td>{{product.quantity}} {{product.unit}}</td>
                        <!-- <td>..</td> -->
                        <!-- <td>..</td> -->
                        <td>..</td>
                        <td>..</td>
                    </tr>
                </tbody>
            </table>
            <pagination [data]="products"></pagination>
        </ng-container>
        <ng-template #loading></ng-template>
    </div>
</section>