<section class="section">
    <div class="container">
        <button-submit></button-submit>
        <p class="title">Vásárlóink</p>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Email</th>
                    <th>Cím</th>
                    <th>Adószám</th>
                </tr>
            </thead>
            <tbody *ngIf="customers$ | async as _customers; else loading">
                <tr *ngFor="let customer of _customers">
                    <td><a href="#">{{customer.name || "-"}}</a></td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.address.zip}} {{customer.address.location}}, {{customer.address.address}}</td>
                    <td>{{customer.tax_number || "-"}}</td>
                </tr>
            </tbody>
            <ng-template #loading>
                <tbody>
                    Loading..
                </tbody>
            </ng-template>
        </table>
    </div>
</section>