<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <p class="title">Vásárlóink</p>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a
                                class="button is-rounded"
                                (click)="openNewCustomer()"
                            >
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Új vásárló</span>
                            </a>
                        </div>
                        <div class="level-item">
                            <!-- <app-filter (filter)="applyFilter($event)"></app-filter> -->
                            <div class="field has-addons">
                                <div class="control">
                                    <input
                                        #filter
                                        class="input"
                                        type="text"
                                        placeholder="Vásárló keresése"
                                        name="filter"
                                        (keyup.esc)="query=''; find()"
                                        (keyup.enter)="find()"
                                        [(ngModel)]="query"
                                    >
                                </div>
                                <div class="control">
                                    <a
                                        class="button is-info"
                                        (click)="find()"
                                    >
                                        Keresés
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="source; else loading">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Név</th>
                                <th>Cím</th>
                                <th>Adószám</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let customer of source | keyvalue"
                                style="cursor: pointer;"
                                (click)="selectCustomer(customer.value)"
                                [ngClass]="{'is-selected': customer_selected && (customer_selected.id == customer.value.id)}"
                            >
                                <td>{{customer.value.name || "-"}}</td>
                                <td>
                                    {{customer.value.address_zip}} {{customer.value.address_location}}, {{customer.value.address_street}}
                                </td>
                                <td>{{customer.value.tax_number || "-"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="columns">
                        <div
                            class="column has-text-centered"
                            *ngIf="source_ids.length > source.size"
                        >
                            <p class="is-size-7">
                                {{source_ids.length}} / {{source.size}} elem
                            </p>
                            <a
                                class="button is-info is-outlined is-small"
                                (click)="load()"
                            >
                                További {{source_ids.length - source.size > page_count ? page_count : source_ids.length - source.size}} elem betöltése
                            </a>
                        </div>
                    </div>
                    <!-- <pagination [data]="customers" [handleUrl]="false"></pagination> -->
                </ng-container>
                <ng-template #loading>Loading customers ...</ng-template>
            </div>
            <div class="column is-6 is-offset-1">
                <div *ngIf="customer_selected; else no_customer">
                    <!-- Customer details -->
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Vásárló adatai</p>
                            <span
                                class="card-header-icon"
                                (click)="setCustomerToEdit(customer_selected) ;modal_edit_customer.open()"
                            >
                                <i
                                    class="fas fa-edit"
                                    aria-hidden="true"
                                ></i>
                            </span>
                        </header>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 is-spaced">{{customer_selected.name}}</p>
                                    <p class="subtitle is-6">
                                        email: {{customer_selected.email || "-"}}, 
                                        adószám: {{customer_selected.tax_number || "-"}}
                                    </p>
                                </div>
                            </div>

                            <div class="content">
                                {{customer_selected.address_zip}} {{customer_selected.address_location}}, {{customer_selected.address_street}}
                                <br>
                                <time>
                                    {{customer_selected.date_created | gzDateTime}}
                                </time>
                            </div>
                        </div>
                    </div>

                    <!-- Loyalty account details -->
                    <div
                        class="mt-6"
                        [ngClass]="{'card has-background-info-light': customer_secelted_loyalty_account, 'card has-background-danger-light': !customer_secelted_loyalty_account}"
                    >
                        <header class="card-header">
                            <p class="card-header-title">Törzsvásárlói fiók</p>
                            <span
                                *ngIf="customer_secelted_loyalty_account"
                                class="card-header-icon"
                                (click)="loadLoyaltyCardTransactions(customer_secelted_loyalty_account.account_id); modal_transactions.open()"
                            >
                                <i
                                    class="fas fa-clipboard-list"
                                    aria-hidden="true"
                                ></i>
                            </span>
                        </header>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <!-- <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p class="title is-4 is-spaced mb-3">Törzsvásárlói fiók</p>
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div
                                                class="level-item"
                                                *ngIf="customer_secelted_loyalty_account"
                                            >
                                                <button
                                                    (click)="loadLoyaltyCardTransactions(customer_secelted_loyalty_account.account_id); modal_transactions.open()"
                                                    class="button is-inverted"
                                                >
                                                    <span class="icon">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div
                                class="content"
                                *ngIf="customer_secelted_loyalty_account"
                            >
                                <p>
                                    Fiók azonosító: {{customer_secelted_loyalty_account.account_id}}
                                </p>
                                <p>
                                    Kedvezmény mértéke: {{customer_secelted_loyalty_account.loyalty_level == 'L1' ? "2%" : "4%"}}
                                </p>
                                <p>
                                    Kártya száma: {{customer_secelted_loyalty_account.card_id || "Nincs kártya hozzárendelve"}}
                                </p>
                                <p>
                                    Éves vásárlás bruttó összege: {{customer_secelted_loyalty_account.yearly_gross_turnover | gzHuf}}
                                </p>
                                <p>
                                    Egyenleg: {{customer_secelted_loyalty_account.balance_points | gzHuf}}
                                </p>
                                <p>
                                    Születési idő: {{customer_secelted_loyalty_account.customer_birthdate || "-"}}
                                </p>
                            </div>

                            <div
                                class="content"
                                *ngIf="!customer_secelted_loyalty_account"
                            >
                                <p>
                                    A vásárló még nem rendelkezik törzsvásárlói fiókkal.
                                </p>
                                <p>
                                    Regisztrálsz neki? Klikk a regisztrációra!
                                </p>
                            </div>

                        </div>

                        <footer
                            class="card-footer"
                            *ngIf="customer_secelted_loyalty_account"
                        >
                            <a
                                class="card-footer-item"
                                (click)="modal_add_card.open()"
                            >
                                Kártya hozzáadása
                            </a>
                            <a
                                class="card-footer-item"
                                (click)="modal_set_level.open()"
                            >
                                Kedvezmény módosítása
                            </a>
                            <a
                                class="card-footer-item"
                                (click)="modal_set_birthdate.open()"
                            >
                                Születési dátum módosítása
                            </a>
                        </footer>

                        <footer
                            class="card-footer"
                            *ngIf="!customer_secelted_loyalty_account"
                        >
                            <a
                                class="card-footer-item"
                                (click)="modal_create_loyalty_account.open()"
                            >
                                Fiók létrehozása
                            </a>
                        </footer>
                    </div>
                </div>
                <ng-template #no_customer>Nincs vásárló kiválasztva</ng-template>
            </div>
        </div>
    </div>
</section>

<modal
    #modal_create_loyalty_account
    title="Törzsvásárlói fiók létrehozása"
>
    <div
        class="columns"
        *ngIf="customer_selected"
    >
        <div class="column is-12">
            <div class="content">
                Törzsvásárlói kártya létrehozása {{customer_selected.name}} részére!
            </div>
            <div class="field">
                <label class="label">Születési dátum</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="1988-10-15"
                        name="birthdate"
                        #birthdate_new
                    >
                </div>
            </div>
            <div class="control">
                <button
                    class="button is-primary"
                    (click)="loyaltyCreate(birthdate_new.value)"
                >
                    Fiók létrehozása
                </button>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_add_card
    title="Törzsvásárlói kártya hozzárendelése"
>
    <div
        class="columns"
        *ngIf="customer_selected"
    >
        <div class="column is-12">
            <div class="content">
                Törzsvásárlói kártya
                <b>hozzárendelése</b>
                {{customer_selected.name}} részére!
            </div>
            <div class="field">
                <label class="label">Kártya azonosítója</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="1ab"
                        name="card_id"
                        #card_id
                    >
                </div>
            </div>
            <div class="control">
                <button
                    class="button is-primary"
                    (click)="addCard(card_id.value)"
                >
                    Kártya hozzáadása
                </button>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_set_level
    title="Törzsvásárlói kártya kedvezmény szint módosítása"
>
    <div
        class="columns"
        *ngIf="customer_selected && customer_secelted_loyalty_account"
    >
        <div class="column is-12">
            <div class="content">
                Törzsvásárlói kártya
                <b>kedvezmény módosítása</b>
                {{customer_selected.name}} részére!
            </div>
            <div class="field">
                <label class="label">Kedvezmény szint (L1, L2)</label>
                <div class="control">
                    <select
                        name="account_level"
                        #card_level
                    >
                        <option
                            value="L1"
                            [selected]="customer_secelted_loyalty_account.loyalty_level=='L1'"
                        >
                            2%
                        </option>
                        <option
                            value="L2"
                            [selected]="customer_secelted_loyalty_account.loyalty_level=='L2'"
                        >
                            4%
                        </option>
                    </select>
                </div>
            </div>
            <div class="control">
                <button
                    class="button is-primary"
                    (click)="setAccountLevel(card_level.value)"
                >
                    Kedvezmény módosítása
                </button>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_set_birthdate
    title="Törzsvásárlói kártya születési idő módosítása"
>
    <div
        class="columns"
        *ngIf="customer_selected && customer_secelted_loyalty_account"
    >
        <div class="column is-12">
            <div class="content">
                Törzsvásárlói kártya
                <b>születési idő módosítása</b>
                {{customer_selected.name}} részére!
            </div>
            <div class="field">
                <label class="label">Születési idő</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="1988-10-15"
                        name="birthdate_set"
                        #card_birthdate_set
                        [ngModel]="customer_secelted_loyalty_account.customer_birthdate"
                    >
                </div>
            </div>
            <div class="control">
                <button
                    class="button is-primary"
                    (click)="setAccountBirthdate(card_birthdate_set.value)"
                >
                    Születési idő módosítása
                </button>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_edit_customer
    title="Vásárló szerkesztése"
>
    <div class="content">Vásárlói adatok módosítása.</div>

    <form
        [formGroup]="customer_form"
        (ngSubmit)="updateCustomer()"
    >
        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <label class="label">Név</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló neve"
                            formControlName="name"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input
                            class="input"
                            type="email"
                            placeholder="Vásárló email címe"
                            formControlName="email"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Telefonszám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló telefonszáma"
                            formControlName="phone"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Adószám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló adószáma"
                            formControlName="tax_number"
                        >
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="field">
                    <label class="label">Irányítószám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Irányítószám"
                            name="zip"
                            formControlName="address_zip"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Település</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Település neve"
                            formControlName="address_location"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Utca, házszám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Utca, házszám"
                            formControlName="address_street"
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary">Adatok mentése</button>
            </div>
        </div>
    </form>
</modal>

<modal
    #modal_new_customer
    title="Új vásárló létrehozása"
>
    <div class="content">
        Mielőtt létrehoznánk, ellenőrizzük le, hogy valóban nem létezik még az adott vásárló!
    </div>

    <form
        [formGroup]="new_customer_form"
        (ngSubmit)="createCustomer()"
    >
        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <label class="label">Név</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló neve"
                            formControlName="name"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input
                            class="input"
                            type="email"
                            placeholder="Vásárló email címe"
                            formControlName="email"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Telefonszám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló telefonszáma"
                            formControlName="phone"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Adószám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Vásárló adószáma"
                            formControlName="tax_number"
                        >
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="field">
                    <label class="label">Irányítószám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Irányítószám"
                            name="zip"
                            formControlName="address_zip"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Település</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Település neve"
                            formControlName="address_location"
                        >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Utca, házszám</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Utca, házszám"
                            formControlName="address_street"
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary">Vásárló létrehozása</button>
            </div>
        </div>
    </form>
</modal>

<modal
    #modal_transactions
    title="Tranzakciók"
>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Vásárlási azonosító</th>
                    <th>Típus</th>
                    <th>Pont összeg</th>
                    <th>Időpont</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let tr of loyalty_transactions"
                    [ngClass]="{
                        'has-background-info-light': tr.transaction_kind == 'Earn',
                        'has-background-danger-light': tr.transaction_kind == 'Burn'
                    }"
                >
                    <td>{{tr.purchase_id}}</td>
                    <td>
                        {{tr.transaction_kind == 'Earn' ? 'Jóváírt' : 'Felhasznált' }}
                    </td>
                    <td>{{tr.amount}}</td>
                    <td>{{tr.created_at | gzDateTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</modal>
