<section class="section">
    <div class="container">
        <p class="title">Beszerzési források</p>
        <div class="buttons">
            <button
                class="button is-rounded"
                (click)="modal_new.open()"
            >
                Új forrás
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Azonosító</th>
                    <th>Név</th>
                    <th>Cím</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let source of sources">
                    <td>
                        <p class="has-text-grey-light">#{{source.source_id}}</p>
                    </td>
                    <td>
                        <a (click)="setSourceToUpdate(source); modal_update.open()">{{source.name}}</a>
                    </td>
                    <td>{{source.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<modal
    #modal_new
    title="Új beszerzési forrás"
>
    <div class="columns">
        <div class="column is-6">
            <form>
                <div class="field">
                    <label class="label">Partner neve</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Partner neve"
                            name="name"
                            [(ngModel)]="model_new_source.name"
                            required
                            autofocus
                        >
                    </div>
                </div>
                <p class="title is-6 mb-1">Címe</p>
                <div class="field has-addons">
                    <div class="control">
                        <textarea
                            class="textarea"
                            name="address"
                            placeholder="Partner címe"
                            [(ngModel)]="model_new_source.address"
                        ></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button-submit
                            [callback]="callbackCreate"
                            [snackBarMessage]="'Sikeresen létrehozva'"
                            name="Létrehozás"
                        ></button-submit>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>

<modal
    #modal_update
    [title]="model_update_source.name"
>
    <div class="columns">
        <div class="column is-6">
            <form>
                <div class="field">
                    <label class="label">Partner neve</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Partner neve"
                            name="name"
                            [(ngModel)]="model_update_source.name"
                            required
                            autofocus
                        >
                    </div>
                </div>
                <p class="title is-6 mb-1">Címe</p>
                <div class="field has-addons">
                    <div class="control">
                        <textarea
                            class="textarea"
                            name="address"
                            placeholder="Partner címe"
                            [(ngModel)]="model_update_source.address"
                        ></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button-submit
                            [callback]="callbackUpdate"
                            [snackBarMessage]="'Sikeresen módosítva'"
                            name="Módosítás"
                        ></button-submit>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>

<!-- <section class="section">
    <div class="container">
        <p class="title is-inline-block">Nyírtass bolt</p>
        <span class="icon is-inline-block ml-4">
            <a routerLink="./">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </span>
        <input type="text" class="input" placeholder="Keresés">
        <table class="table">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Név</th>
                    <th>Darabszám</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12312</td>
                    <td>
                        <a routerLink="./">Yara Milla 24-5-5</a>
                    </td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section">
    <div class="container">
        <p class="title">Termékek</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Termék neve</th>
                    <th>Kiszerelés</th>
                    <th>Termék nettó ára</th>
                    <th>Termék bruttó ára</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>5 liter</td>
                    <td>11.564,12 HUF</td>
                    <td>13.234.11 HUF</td>
                </tr>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>1 liter</td>
                    <td>2.497,63 HUF</td>
                    <td>2.497,63 HUF</td>
                </tr>
                <tr>
                    <td><a routerLink="./">Bordóilé neo SC</a></td>
                    <td>200 ml</td>
                    <td>1.432,19 HUF</td>
                    <td>1.432,19 HUF</td>
                </tr>
            </tbody>
        </table>
    </div>
</section> -->
