<modal
    [title]="upl.upl_kind == 'BulkSku' ? 'Gyüjtő termék' : upl.upl_kind == 'OpenedSku' ? 'Kimérhető termék' : '?'"
    #modalDivide
    [isActive]="true"
    (callbackClose)="closeForm()"
    [autoClose]="false"
>
    <div class="columns">
        <div class="column is-5">
            <p class="subtitle">UPL adatok</p>
            <span *ngIf="!upl">Nincs UPL kiválasztva</span>
            <table
                class="table"
                *ngIf="upl && sku"
            >
                <tbody>
                    <tr>
                        <td>UPL ID</td>
                        <td>{{upl.upl_id}}</td>
                    </tr>
                    <tr>
                        <td>Termék név</td>
                        <td>{{sku.display_name}}</td>
                    </tr>
                    <tr>
                        <td>Típus</td>
                        <td>{{upl.upl_kind}}</td>
                    </tr>
                    <tr>
                        <td>Mennyiség</td>
                        <td>..</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column is-7">
            <p class="title is-4 is-spaced">
                {{upl.upl_kind == 'BulkSku' ? 'Gyüjtő termék' : upl.upl_kind == 'OpenedSku' ? 'Kimérhető termék' : '?'}}
            </p>
            <p class="subtitle">A UPL tartalma:</p>
            <p
                class="title is-4"
                *ngIf="upl.upl_kind == 'BulkSku'"
            >
                {{upl.pieces}} db
            </p>
            <p
                class="title is-4"
                *ngIf="upl.upl_kind == 'OpenedSku'"
            >
                {{upl.divisible_amount}} {{upl.product_unit}}
            </p>
            <div class="field is-grouped">
                <div class="control">
                    <button
                        class="button is-link"
                        (click)="putInCart()"
                    >
                        Kosárba helyezés
                    </button>
                </div>
                <div class="control">
                    <button
                        class="button"
                        (click)="do_work=true"
                    >
                        <ng-container *ngIf="split_mode">Megbontás</ng-container>
                        <ng-container *ngIf="!split_mode">Kimérés</ng-container>
                    </button>
                </div>
            </div>
            <div *ngIf="do_work">
                <div class="field">
                    <label
                        class="label"
                        *ngIf="split_mode"
                    >
                        Leválasztott darabszám
                    </label>
                    <label
                        class="label"
                        *ngIf="!split_mode"
                    >
                        Kimérendő mennyiség ({{upl.product_unit}})
                    </label>
                </div>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <input
                            #input_piece
                            type="number"
                            class="input is-danger"
                            placeholder="UPL darabszám"
                            [(ngModel)]="amount"
                        >
                    </div>
                    <div class="control">
                        <button
                            class="button is-success is-outlined"
                            (click)="amount = amount + 1"
                        >
                            +
                        </button>
                    </div>
                    <div class="control">
                        <button
                            class="button is-danger is-outlined"
                            (click)="amount = amount - 1"
                        >
                            -
                        </button>
                    </div>
                </div>
                <label class="label">Új UPL azonosító</label>
                <div class="field is-grouped">
                    <div class="control">
                        <input
                            type="text"
                            class="input"
                            placeholder="UPL azonosító"
                            [ngClass]="{'disabled':!code_manual}"
                            [disabled]="!code_manual"
                            [(ngModel)]="code"
                        >
                    </div>
                    <div class="control">
                        <button
                            class="button"
                            (click)="code_manual=true"
                            *ngIf="!code_manual"
                        >
                            Kézi bevitel
                        </button>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button
                            class="button is-success"
                            (click)="submit()"
                        >
                            <ng-container *ngIf="split_mode">Megbont, és kosárba</ng-container>
                            <ng-container *ngIf="!split_mode">Kimér, és kosárba</ng-container>
                        </button>
                    </div>
                    <div class="control">
                        <button
                            class="button"
                            (click)="split_mode=false"
                        >
                            Mégse
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal>
