<section class="section">
    <div class="container">
        <p class="title">Nyitott kosarak</p>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <button
                        class="button is-rounded"
                        (click)="createNewCart()"
                    >
                        Új kosár nyitása
                    </button>
                </div>
            </div>
        </div>
        <table class="table is-hoverable">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Tulajdonos</th>
                    <th>Vásárló</th>
                    <th>Termékek</th>
                    <th>Tételszám</th>
                    <th>Létrehozva</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of opened_carts">
                    <!-- <td>{{cart.id}}</td> -->
                    <td>
                        {{users[cart.owner] ? users[cart.owner].name : cart.owner}}
                    </td>
                    <td>{{cart.customer_name || "-"}}</td>
                    <td>
                        <span *ngFor="let n of cart.item_names | slice:0:4;">{{n}}</span>
                    </td>
                    <td>{{cart.upl_count}}</td>
                    <td>{{cart.created_at | gzDateTime}}</td>
                    <td>
                        <button
                            class="button is-small"
                            (click)="openCart(cart.id)"
                        >
                            Megnyitás
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
