<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="columns">
                    <div class="column is-12">
                        <div class="box">
                            <h1 class="subtitle">
                                Beszerzés adatai (#{{procurement.procurement_id}})
                            </h1>
                            <p class="title">
                                {{procurement.sources[procurement.procurement.source_id] != undefined ? procurement.sources[procurement.procurement.source_id].name : procurement.procurement.source_id}}
                            </p>
                            <p>
                                Bizonylat azonosító: {{procurement.getReference()}}
                                <a (click)="procurement.setUmReference(); modal_reference.open()">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </a>
                            </p>
                            <p>
                                Várható beérkezés: {{procurement.getDeliveryDate() ? (procurement.getDeliveryDate() | gzDate) : ''}}
                                <a (click)="procurement.setUmDeliveryDate(); modal_delivery_date.open()">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </a>
                            </p>
                        </div>
                        <p class="title is-5">SKU lista</p>
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="is-narrow">Sorszám</th>
                                    <th>SKU</th>
                                    <th class="is-narrow">Rendelt darabszám</th>
                                    <th class="is-narrow">UPL darabszám</th>
                                    <th class="is-narrow">Várható besz. ár (nettó)</th>
                                    <th class="is-narrow"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of procurement.getItems(); index as Index"
                                    [ngClass]="{'has-background-warning': item.ordered_amount != procurement.uplCount(item.sku)}"
                                >
                                    <td>{{Index + 1}}</td>
                                    <td>
                                        <a (click)="setModelEditSku(item) ;modal_edit_sku.open()">
                                            {{procurement.skus[item.sku] != undefined ? procurement.skus[item.sku].display_name : item.sku}}
                                        </a>
                                    </td>
                                    <td>{{item.ordered_amount}}</td>
                                    <td>{{procurement.uplCount(item.sku)}}</td>
                                    <td>{{item.expected_net_price | gzHuf}}</td>
                                    <td>
                                        <button
                                            class="button is-small"
                                            *ngIf="procurement.uplCount(item.sku) == 0"
                                            (click)="procurement.removeSku(item.sku)"
                                        >
                                            Töröl
                                        </button>
                                    </td>
                                    <!-- <td class="has-text-grey-light">#{{sku.sku}}</td>
                                    <td>
                                        <a (click)="setSkuUpdate(sku); edit_sku.open()">{{sku.display_name}}</a>
                                    </td>
                                    <td>
                                        {{prices[sku.sku] ? prices[sku.sku].price_gross_retail.toLocaleString() : "-"}} HUF
                                    </td>
                                    <td>
                                        <a (click)="add_price.open(); loadPrice(sku.sku); loadPriceHistory(sku.sku); _selected_price_sku_name=sku.display_name">
                                            <span class="icon">
                                                <i class="fas fa-chart-line"></i>
                                            </span>
                                        </a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <a
                            class="button is-small"
                            (click)="procurement.setModelNewSku(); modal_add_sku.open()"
                        >
                            Új SKU
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<modal
    #modal_reference
    title="Új bizonylat megadása"
>
    <div class="columns">
        <div class="column is-6">
            <div class="field">
                <label class="label">Bizonylat neve</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="Bizonylat neve"
                        name="name"
                        [(ngModel)]="procurement.um_reference"
                        required
                        autofocus
                    >
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="procurement.callbackSetReference"
                        [snackBarMessage]="'Sikeresen módosítva'"
                        name="Módosítás"
                    ></button-submit>
                </div>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_delivery_date
    title="Új beérkezési dátum"
>
    <div class="columns">
        <div class="column is-6">
            <div class="field">
                <label class="label">Dátum</label>
                <div class="control">
                    <input
                        type="date"
                        class="input"
                        name="trip-start"
                        [(ngModel)]="procurement.um_delivery_date"
                    >
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="procurement.callbackSetDeliveryDate"
                        [snackBarMessage]="'Sikeresen módosítva'"
                        name="Módosítás"
                    ></button-submit>
                </div>
            </div>
        </div>
    </div>
</modal>

<modal
    #modal_edit_sku
    title="Amalgerol Prémium 1 L"
    [callbackClose]="unsetModelEditSku"
>
    <div class="columns">
        <div class="column has-text-centered">
            <div class="tabs is-toggle is-toggle-rounded is-centered is-small">
                <ul>
                    <li class="is-active">
                        <a>
                            <span class="icon is-small">
                                <i class="fas fa-box"></i>
                            </span>
                            <span>UPL lista</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small">
                                <i class="fas fa-info"></i>
                            </span>
                            <span>SKU adatok</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Sorszám</th>
                        <th>UPL ID</th>
                        <th class="is-narrow">Darabszám</th>
                        <th>Lejárati idő</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="model_edit_sku">
                    <tr>
                        <td></td>
                        <td>
                            <input
                                name="nupl_id"
                                type="text"
                                class="input is-small"
                                placeholder="UPL ID"
                                [(ngModel)]="model_edit_sku.new_upl.upl_id"
                            >
                        </td>
                        <td>
                            <input
                                name="nupl_piece"
                                type="number"
                                class="input is-small"
                                value="1"
                                [(ngModel)]="model_edit_sku.new_upl.upl_piece"
                            >
                        </td>
                        <td>
                            <input
                                name="nupl_bbefore"
                                type="text"
                                class="input is-small"
                                [(ngModel)]="model_edit_sku.new_upl.best_before"
                            >
                        </td>
                        <td>
                            <button
                                class="button is-small is-success"
                                title="Új UPL hozzáadása"
                                (click)="model_edit_sku.addNewUpl()"
                            >
                                Hozzáadás
                            </button>
                        </td>
                    </tr>
                    <tr *ngFor="let upl of model_edit_sku.getUpls(); index as Index">
                        <td>{{Index + 1}}</td>
                        <td>{{upl.upl_id}}</td>
                        <td>{{upl.upl_piece}}</td>
                        <td>{{upl.best_before}}</td>
                        <td>
                            <button
                                class="button is-small"
                                title="UPL módosítása"
                            >
                                Módosít
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!-- <tr>
                        <td>2</td>
                        <td>23ff</td>
                        <td>1</td>
                        <td>-</td>
                        <td>
                            <button class="button is-small">Módosít</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <input
                                type="text"
                                class="input is-small"
                                placeholder="UPL ID"
                                value="234fg"
                            >
                        </td>
                        <td>
                            <input
                                type="number"
                                class="input is-small"
                                value="1"
                            >
                        </td>
                        <td>
                            <input
                                type="text"
                                class="input is-small"
                                value="2022-10-22"
                            >
                        </td>
                        <td>
                            <div class="buttons has-addons is-rounded">
                                <button
                                    class="button is-small is-success"
                                    title="UPL módosítás mentése"
                                >
                                    Mentés
                                </button>
                                <button
                                    class="button is-small is-warning"
                                    title="UPL törlése"
                                >
                                    Töröl
                                </button>
                            </div>
                        </td>
                    </tr> -->
            </table>
        </div>
    </div>
</modal>

<modal
    #modal_add_sku
    title="Új SKU hozzáadása"
>
    <div
        class="columns"
        *ngIf="!procurement.model_new_sku.is_sku_selected"
    >
        <div class="column">
            <div class="field">
                <label class="label">SKU kiválasztása</label>
                <div class="control">
                    <input
                        #sku_search
                        class="input"
                        type="text"
                        placeholder="SKU keresése"
                        name="sku_search"
                        (keyup.esc)="procurement.model_new_sku.searchSku('')"
                        (keyup.enter)="procurement.model_new_sku.searchSku(sku_search.value)"
                    >
                </div>
            </div>
            <table
                class="table is-hoverable is-fullwidth"
                *ngIf="procurement.model_new_sku.sku_search_results.length > 0"
            >
                <thead>
                    <tr>
                        <th class="is-narrow"></th>
                        <th>SKU neve</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let found_sku of procurement.model_new_sku.sku_search_results">
                        <td>
                            <button
                                class="button is-small"
                                (click)="procurement.model_new_sku.selectSku(found_sku.sku, found_sku.name)"
                            >
                                Kiválasztás
                            </button>
                        </td>
                        <td>{{found_sku.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div
        class="columns"
        *ngIf="procurement.model_new_sku.is_sku_selected"
    >
        <div class="column">
            <p class="title is-5">
                {{procurement.model_new_sku.selected_sku_name}}
            </p>
            <div class="field">
                <label class="label">Rendelendő darabszám</label>
                <div class="control">
                    <input
                        class="input"
                        type="number"
                        placeholder="Darabszám"
                        name="name"
                        value="1"
                        required
                        autocomplete="off"
                        [(ngModel)]="procurement.model_new_sku.sku_item.ordered_amount"
                    >
                </div>
            </div>
            <p class="title is-6 mb-2">Beszerzési egység ár (nettó)</p>
            <div class="field has-addons">
                <p class="control">
                    <input
                        class="input"
                        type="number"
                        placeholder="1000"
                        [(ngModel)]="procurement.model_new_sku.sku_item.expected_net_price"
                    >
                </p>
                <p class="control">
                    <a class="button is-static">HUF</a>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button-submit
                        [callback]="procurement.callbackAddSku"
                        [snackBarMessage]="'Sikeresen hozzáadva'"
                        name="Hozzáad"
                    ></button-submit>
                </p>

            </div>
        </div>
    </div>
</modal>
