<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div class="columns">
                    <div class="column is-12">
                        <div class="box">
                            <h1 class="subtitle">Termék adatai</h1>
                            <p class="title">{{product.name}}</p>
                            <p
                                class="content"
                                [innerText]="product.description"
                            >
                            </p>
                            <p
                                class="content"
                                *ngIf="!product.description"
                            >
                                <i>Nincs leírás</i>
                            </p>
                            <p class="content">Mértékegység: {{product.unit}}</p>
                            <p class="content">
                                Romlandó termék: {{product.perishable ? 'igen' : 'nem'}}
                                <br>
                                Kifutó termék: {{product.discontinued ? 'igen' : 'nem'}}
                            </p>
                            <a (click)="edit_product.open()">Szerkesztés</a>
                        </div>
                        <p class="title is-5">SKU lista</p>
                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Név</th>
                                    <th>Bruttó ár</th>
                                    <th>Raktáron</th>
                                    <th>Kimérhető</th>
                                    <th>Kifutó</th>
                                    <th>Romlandó</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sku of skus">
                                    <td class="has-text-grey-light">#{{sku.sku}}</td>
                                    <td>
                                        <a (click)="setSkuUpdate(sku); edit_sku.open()">{{sku.display_name}}</a>
                                    </td>
                                    <td>
                                        {{prices[sku.sku] ? prices[sku.sku].price_gross_retail.toLocaleString() : "-"}} HUF
                                    </td>
                                    <td>
                                        <a (click)="openLocationInfo(sku.sku)">
                                            {{sku_location_info[sku.sku] ? sku_location_info[sku.sku]["stocks"][1]["total"] : ""}}
                                        </a>
                                    </td>
                                    <td>{{sku.can_divide ? 'kimérhető' : ''}}</td>
                                    <td>{{sku.discontinued ? 'kifutó' : ''}}</td>
                                    <td>{{sku.perishable ? 'romlandó' : ''}}</td>
                                    <td>
                                        <a (click)="add_price.open(); loadPrice(sku.sku); loadPriceHistory(sku.sku); _selected_price_sku_name=sku.display_name">
                                            <span class="icon">
                                                <i class="fas fa-chart-line"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a
                            class="button is-small"
                            (click)="new_sku.open()"
                        >
                            Új SKU
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<modal
    #edit_product
    title="Termék szerkesztés"
>
    <div class="columns">
        <div class="column is-6">
            <!-- <form> -->
            <div class="field">
                <label class="label">Név</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="Termék neve"
                        name="name"
                        [(ngModel)]="product.name"
                        required
                        autofocus
                    >
                </div>
            </div>
            <div class="field">
                <label class="label">Termékleírás</label>
                <div class="control">
                    <textarea
                        name="description"
                        class="textarea"
                        [(ngModel)]="product.description"
                    ></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Mennyiségi egység</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="Mennyiségi egység"
                        name="unit"
                        [(ngModel)]="product.unit"
                        required
                    >
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="submit"
                        [snackBarMessage]="'Sikeresen mentve'"
                        name="Mentés"
                    ></button-submit>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="column is-3">
            <div class="notification">
                <p class="subtitle is-5">Termék adatok</p>
                Készítette: {{product.created_by}}
                <br>
                Készült: {{product.created_at | gzDateTime}}
            </div>
            <label class="checkbox">
                <input
                    type="checkbox"
                    name="perishable"
                    [(ngModel)]="product.perishable"
                    (change)="setPerishable()"
                >
                romlandó termék
            </label>
            <label class="checkbox">
                <input
                    type="checkbox"
                    name="discontinued"
                    [(ngModel)]="product.discontinued"
                    (change)="setProductDiscontinued()"
                >
                kifutó termék
            </label>
        </div>
    </div>
</modal>

<modal
    #edit_sku
    title="SKU szerkesztés"
>
    <div class="columns">
        <div class="column is-6">
            <p class="subtitle">{{sku_update.display_name}}</p>
            <!-- <form> -->
            <div class="field">
                <label class="label">Alnév</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="SKU al neve"
                        name="name"
                        [(ngModel)]="sku_update.subname"
                        required
                        autofocus
                    >
                </div>
            </div>
            <p class="title is-6 mb-1">Mennyiség</p>
            <div class="field has-addons">
                <div class="control">
                    <input
                        name="description"
                        class="input"
                        [(ngModel)]="sku_update.quantity"
                    >
                </div>
                <div class="control">
                    <a class="button is-static">{{sku_update.unit}}</a>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="updateSku"
                        [snackBarMessage]="'Sikeresen mentve'"
                        name="Mentés"
                    ></button-submit>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="column is-6">
            <label class="checkbox">
                <input
                    type="checkbox"
                    name="divisible"
                    [(ngModel)]="sku_update.can_divide"
                    (change)="setSkuDivisible()"
                >
                kimérhető termék
            </label>
            <br>
            <label class="checkbox">
                <input
                    type="checkbox"
                    name="discontinued"
                    [(ngModel)]="sku_update.discontinued"
                    (change)="setSkuDiscontinued()"
                >
                kifutó termék
            </label>
        </div>
    </div>
</modal>

<pdetails-linfo
    [sku]="sku_for_upl_info"
    (close_callback)="closeLocationInfo()"
></pdetails-linfo>

<modal
    #add_price
    [title]="_selected_price_sku_name"
>
    <div class="columns">
        <div class="column is-4">
            <!-- <form> -->
            <div class="field">
                <label class="label">Nettó ár</label>
                <div class="control">
                    <input
                        class="input"
                        type="number"
                        placeholder="nettó ár"
                        name="net_price"
                        [(ngModel)]="new_price_model.price_net_retail"
                        required
                        autofocus
                        (keyup)="helperSetPriceGross()"
                        autocomplete="off"
                    >
                </div>
            </div>
            <div class="field">
                <label class="label">ÁFA</label>
                <div class="control">
                    <input
                        type="text"
                        name="vat"
                        placeholder="ÁFA"
                        class="input"
                        [(ngModel)]="new_price_model.vat"
                        autocomplete="off"
                    >
                </div>
            </div>
            <div class="field">
                <label class="label">Bruttó ár</label>
                <div class="control">
                    <input
                        type="number"
                        name="gross_price"
                        placeholder="Bruttó ár"
                        class="input"
                        [(ngModel)]="new_price_model.price_gross_retail"
                        autocomplete="off"
                    >
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="setNewPrice"
                        [snackBarMessage]="'Sikeresen mentve'"
                        name="Új ár beállítása"
                        verify="true"
                    ></button-submit>
                </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="column is-8">
            <div class="notification">
                <p class="subtitle">Ár történet</p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nettó</th>
                            <th>Áfa</th>
                            <th>Bruttó</th>
                            <th>Időpont</th>
                        </tr>
                        <tr
                            *ngFor="let phi of price_history; first as isFirst"
                            [ngClass]="{'is-selected' : isFirst}"
                        >
                            <td>{{phi.price_net_retail | gzHuf}}</td>
                            <td>{{phi.vat}}</td>
                            <td>{{phi.price_gross_retail | gzHuf}}</td>
                            <td>{{phi.created_at | gzDateTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</modal>

<modal
    #new_sku
    title="Új SKU"
>
    <div class="columns">
        <div class="column is-6">
            <p class="subtitle">{{product.name}}</p>
            <!-- <form> -->
            <div class="field">
                <label class="label">Alnév</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="SKU al neve"
                        name="name"
                        [(ngModel)]="_new_sku.sub_name"
                        required
                        autofocus
                        autocomplete="off"
                    >
                </div>
            </div>
            <p class="title is-6 mb-1">Mennyiség</p>
            <div class="field has-addons">
                <div class="control">
                    <input
                        name="description"
                        class="input"
                        [(ngModel)]="_new_sku.quantity"
                        autocomplete="off"
                    >
                </div>
                <div class="control">
                    <a class="button is-static">{{product.unit}}</a>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="createSku"
                        [snackBarMessage]="'Sikeresen létrehozva'"
                        name="Létrehozás"
                    ></button-submit>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</modal>
