<section class="section">
    <div class="container">
        <p class="title">Pénztár</p>
        <div class="columns">
            <div class="column is-8">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                        <tr class="has-background-light">
                            <!-- <th>Azonosító</th> -->
                            <th>Dátum</th>
                            <th>Összeg</th>
                            <th>Típus</th>
                            <th>Iránya</th>
                            <th>Vásárlás azonosító</th>
                            <th>Hivatkozás</th>
                            <th>Készítette</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of display_transactions"
                            [ngClass]="{'has-background-danger-light':item.amount < 0}"
                        >
                            <!-- <td>{{item.transaction_id}}</td> -->
                            <td>{{item.created_at | gzDateTime}}</td>
                            <td>{{item.amount | gzHuf}}</td>
                            <td [ngSwitch]="item.kind">
                                <span *ngSwitchCase="'Cash'">készpénz</span>
                                <span *ngSwitchCase="'Card'">bankkártya</span>
                                <span *ngSwitchCase="'Transfer'">utalás</span>
                            </td>
                            <td>
                                {{item.cart_id ? 'vásárlás' : item.amount > 0 ? 'bevételezés' : 'kiadás'}}
                            </td>
                            <td>{{item.cart_id || '-'}}</td>
                            <td>{{item.reference}}</td>
                            <td>
                                {{getUser(item.created_by) ? getUser(item.created_by).name : '?'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-4">
                <p class="title is-6 is-spaced">Összesítő</p>
                <p class="subtitle is-6">
                    Egyenleg: {{balance | gzHuf}}
                    <br>
                    Napi forgalom (készpénz): {{todayTurnoverCash() | gzHuf}}
                    <br>
                    Napi forgalom (bankkártya): {{todayTurnoverCard() | gzHuf}}
                </p>
                <div class="buttons has-addons">
                    <button
                        class="button is-info is-outlined"
                        (click)="modal_new_transaction.open()"
                    >
                        Új tranzakció
                    </button>
                    <!-- <button class="button is-info is-outlined">Pénz betétel</button>
                    <button class="button is-info is-outlined">Pénz kivétel</button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<modal
    #modal_new_transaction
    title="Új tranzakció"
>
    <div class="columns">
        <div class="column is-6">
            <div class="field">
                <label class="label">Pénzösszeg</label>
                <div class="control">
                    <input
                        class="input"
                        type="number"
                        placeholder="Pénzösszeg"
                        name="amount"
                        [(ngModel)]="model_new_transaction.amount"
                        autofocus
                    >
                </div>
            </div>
            <div class="field">
                <label class="label">Tranzakció típusa</label>
                <div class="control">
                    <div class="select">
                        <select
                            name="trkind"
                            [(ngModel)]="model_new_transaction.kind"
                        >
                            <option
                                *ngFor="let option of transaction_kinds"
                                [ngValue]="option.code"
                            >
                                {{option.display}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Bizonylat sorszáma</label>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        placeholder="Bizonylat sorszáma"
                        name="reference"
                        [(ngModel)]="model_new_transaction.reference"
                        autofocus
                    >
                </div>
            </div>
            <div class="field">
                <label class="label">Megjegyzés</label>
                <div class="control">
                    <textarea
                        class="textarea"
                        placeholder="Megjegyzés"
                        name="comment"
                        [(ngModel)]="model_new_transaction.comment"
                    ></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button-submit
                        [callback]="submitNewTransaction"
                        [snackBarMessage]="'Sikeresen hozzáadva'"
                        name="Mentés"
                    ></button-submit>
                </div>
            </div>
        </div>
    </div>
</modal>
